@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

h1, p {
  font-family: Open Sans;
}

h2, h3, h4, h5, h6 {
  font-family: Roboto Slab;
  letter-spacing: 2px;
}

ul {
  padding: 0em;
  margin: 0em;
}

.nameHeader {
  font-size: 3.0em;
  display: inherit;
  list-style: none;
  font-family: Open Sans;
  color: white;
  margin-left: 0em;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

body {
  background-color:black;
  width:100%;
  margin: 0px;
  padding: 0px;
}

.large-header {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  z-index: 1;
  background-color: #300000;
}

.logoObject {
  display: flex;
  justify-content: center;
  z-index:1000;
}

.mdddLogo {
  width: 175px;
}

.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	text-align: center;
	top: 50%;
	left: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  -webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
}

.icon-scroll, .icon-scroll:before {
  position: absolute;
  left: 50%;
}

.icon-scroll {
  width: 25px;
  height: 45px;
  margin-left: -20px;
  top: 90%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
}

.icon-scroll:before {
  content: '';
  width: 4px;
  height: 4px;
  background: #fff;
  margin-left: -2px;
  top: 6px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
  animation-delay: 4s;
}

@keyframes scroll {
  0% {opacity: 1;}
  100% {opacity: 0; transform:translateY(26px);}
}

#workSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#workNav {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  width:50%;
}

#workAbout {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  width:50%;
  background-image: url("../img/redStarBkgd.jpg");
  background-size: cover;
}

#workNav h2 {
  font-size: 2.5em;
  margin: 0;
  padding: 0;
}

#workNav p {
  margin: 0.7em 0 0 0;
  padding: 0;
  color: black;
  background-color: rgba(255, 255, 255, .8);
  padding: .4em;
  width: 33%;
  margin: .7em auto;
  border: 1px solid lime;
  border-radius: 2em;
}

.designTab {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  height: 100%;
  position: relative;
}

.designTab:before {
  position: absolute;
  left: 5%;
  content: "";
  height: 100%;
  width: 66%;
  border-bottom: 1px solid black;
  margin: 0em 2em 0em 2em;
  padding: 0em 2em;

}

.designTab:hover {
  background: -moz-linear-gradient(left, rgba(254,252,234,0) 0%, rgba(241,218,54,0.5) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(254,252,234,0) 0%,rgba(241,218,54,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(254,252,234,0) 0%,rgba(241,218,54,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fefcea', endColorstr='#ccf1da36',GradientType=1 ); /* IE6-9 */
  cursor: pointer;
}

.developTab:hover {
  background: -moz-linear-gradient(right, rgba(254,252,234,0) 0%, rgba(241,218,54,0.5) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(right, rgba(254,252,234,0) 0%,rgba(241,218,54,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to left, rgba(254,252,234,0) 0%,rgba(241,218,54,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fefcea', endColorstr='#ccf1da36',GradientType=1 ); /* IE6-9 */
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

.developTab {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.animatedName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0em;
  text-align: left;
  margin-left: 1em;
}

.tag {
  font-size: .5em;
}

.animate1 {
  left: -200px;
  position: relative;
  opacity: 0;
}

.animate2 {
  right: -200px;
  position: relative;
  opacity: 0;
}

.shortLine {
  width: 15%;
  border-bottom: 1px solid black;
  margin: 1.2em auto;
}

.shortLine2 {
  width: 15%;
  border-bottom: 1px solid black;
  margin: 1.2em auto;
}

.aboutDescription {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.aboutText {
  color: white;
  width: 50%;
  line-height: 1.8em;
  opacity: 0;
  bottom: 20;
}


@media screen and (max-width: 900px) {

  .main-title {
    flex-direction: column;
  }

  .mdddLogo {
    margin: 0 auto;
  }

  .animatedName {
    margin-left: 0em;
    margin-top: 1em;
  }

  .nameHeader {
    justify-content:center;
  }

  #workSection {
    flex-direction: column;
  }

  .designTab, .developTab, .aboutDescription {
    width: 100%;
  }

  #workNav {
    width: 100%;
  }

  #workAbout {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {

  .nameHeader {
    font-size: 2.4em;
  }

  .mdddLogo {
    width: 135px;
  }
}

@media screen and (max-width: 650px) {

  #workNav {
    flex-direction: column;
  }

  .designTab, .developTab {
    width: 100%;
  }

  .designTab:before {
    width: 66%;
    height: 100%;
    left: 5%;
    margin: 0em 2em 0em 2em;
    padding: 0em 2em;
    border-bottom: 1px solid black;
    border-right: 0em;
  }

}
